.header {
  background-color: $bg-dark-color;
}

.main-nav__link,
.contact__link {
  font-weight: 600;
  font-size: 12px;
  line-height: calc(16 / 12);
  letter-spacing: 0.1em;

  color: $text-light-color;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}
