.hero {
  background-color: $bg-dark-color;
}

.hero__link {
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
}

.uppertitle {
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: $grey-cl-60;
}

.main-title {
  font-family: $secondary-font;
  font-size: 72px;
  line-height: calc(85 / 72);
  letter-spacing: 0.05em;

  color: $text-light-color;
}

.subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;

  color: $text-gray-color;
}

.hero__btn {
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  letter-spacing: 0.1em;

  color: $grey-cl-60;
  background-color: transparent;
  border: none;

  &--white {
    color: $text-light-color;
  }
}
