// TEXT
$text-dark-color: #303030;
$text-light-color: #ffffff;
$text-gray-color: #9da4bd;

// Background
$bg-dark-color: #191c26;

//  Basic components
$accent-color: #ff6c00;
$grey-cl: rgb(157, 164, 189);
$grey-cl-60: rgba(157, 164, 189, 0.6);

// fonts
$main-font: 'Open Sans';
$secondary-font: 'Raleway';
/* Others */
$btn-radius: 25px;
